header {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 60vh;
	background-color: rgba(44,46,54,0.9);

	.kanye {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
}

.connect {
	@include pm-clear;
	position: absolute;
	top: 5rem;
	
	.connect__link {
		list-style: none;
		float: left;
		margin-right: 3rem;

		a {
			@include transition(0.15s);
			font-size: 1rem;
			color: rgba(255,255,255,0.3);
		}

		.connect__link--dribbble:hover {
			background: $dribbble;
		}

		.connect__link--twitter:hover {
			background: $twitter;
		}

		.connect__link--instagram:hover {
			background: $instagram;
		}

		.connect__link--mail:hover {
			background: $blue-trans;
		}
	}
}

.header--100vh {
	height: 100vh !important;
}


















