header {
	position: fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 60vh;
	background-color: rgba(44,46,54,0.9);

	.kanye {
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	.menu {
		position: relative;
		// overflow: auto;
		cursor: pointer;

		.menu__top, .menu__middle, .menu__bottom {
			@include transition(.35s);
			transform-origin: left;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 2.3rem;
			height: 2px;
			background-color: $white;
		}

		.menu__middle {
			top: 7px;
		}

		.menu__bottom {
			top: 14px;
		}
	}

	.connect {
		@include pm-clear;
		position: absolute;
		top: 5rem;
		
		.connect__link {
			list-style: none;
			float: left;
			margin-right: 3rem;

			a {
				@include transition(0.15s);
				font-size: 1rem;
				color: rgba(255,255,255,0.3);

				&:hover {
					background: rgba(116,167,255,0.2);
				}
			}
		}
	}
}

