main {
	padding-top: 70vh;
	padding-bottom: 10vh;
	overflow: auto;
}

.experience {
	padding: 15rem 0;
	text-align: center;

	.experience__company {
		font-size: 3.8rem;
		color: $white;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	.experience__title {
		font-weight: 400;
		color: $blue;
		margin-bottom: 2rem;
	}

	.experience__date {
		font-size: 1rem;
		font-weight: 400;
		color: $white;
		opacity: .7;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-bottom: 3rem;
	}

	.experience__description {
		font-size: 1.6rem;
		color: rgba(255,255,255,0.7);
		letter-spacing: 1px;
		line-height: 2.6rem;
		max-width: 60rem;
		margin: 0 auto;

		span {
			font-weight: 600;
			color: $white;
		}
	}

	.experience__acquisition {
		font-size: 1rem;
		font-weight: 400;
		color: $white;
		text-transform: uppercase;
		padding: .4rem 1rem .5rem 1rem;
		background-color: $blue;
		display: inline-block;
		border-radius: 3px;
		letter-spacing: 4px;
	}

}

.experience__link {
	position: absolute;
	color: $white;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	bottom: 1rem;
}

.experience--beamery {
	background-color: $beamery;
}

.experience--nebula {
	background-color: $nebula;
}

.experience--intel {
	background-color: $intel;
}

.experience--passwordbox {
	background-color: $passwordbox;

	.experience__date {
		margin-bottom: 2rem;
	}
}

// .portfolio__card {
// 	@include transition(.15s);
// 	float: left;
// 	display: block;
// 	width: 100%;
// 	border-radius: 4px;
// 	padding: 15rem 0;
// 	margin-bottom: 5rem;
// 	opacity: 0.9;
// 	cursor: pointer;

// 	&:hover {
// 		opacity: 1;
// 		box-shadow: -10px 10px 30px 0 rgba(0,0,0,0.2);
// 	}
// }

// .portfolio__card--test1 {
// 	background-color: $intel;
// }

// .portfolio__card--test2 {
// 	width: 40%;
// 	background-color: $passwordbox;
// 	margin-right: 5%;
// }

// .portfolio__card--test3 {
// 	width: 55%;
// 	background-color: $blue;
// }

// .portfolio__card--test4 {
// 	width: 60%;
// 	background-color: $dribbble;
// 	margin-right: 5%;
// }

// .portfolio__card--test5 {
// 	width: 35%;
// 	background-color: $instagram;
// }

























