// typo

p, a, h1, h2, h3, h4, h5 {
	@include pm-clear;
}

p {
	font-size: 1.8rem;
	font-weight: 400;
	color: $copy;
}

a {
	font-size: 1.8rem;
	letter-spacing: 6px;
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
}

h1 {
	@include transition(.15s);
	font-size: 1.8rem;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: 700;
	color: $white;

	span {
		opacity: 0.5;
		font-weight: 400;
	}
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
	color: $white;
	text-align: center;
}

// paragraph

.content {
	font-family: "kepler-std-semicondensed";
	margin: 0 auto;
	max-width: 60rem;	
	font-size: 2.4rem;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 3.8rem;
	text-align: center;
	margin-bottom: 5rem;

	&:last-of-type {
		margin-bottom: 0;
	}

	a {
		@include transition(.15s);
		letter-spacing: inherit;
		text-transform: none;
		color: $copy;
		font-size: inherit;
		background-color: darken($primary, 4%);

		&:hover {
			background: rgba(116,167,255,0.2);
			// color: $white;
		}
	}
}