// Media query variables

$small: 620px;
$medium: 920px;
$large: 1140px;
$x-large: 1300px;

// Colors

$primary:							#34363F;
$blue:                #74A7FF;
$blue-trans:          rgba(116,167,255,0.3);
$shade-dark:					rgba(44,46,54,0.9);
$shade-dark-opaque:		rgb(44,46,54);
$copy:        				#9798AF;
$shade-light:					#d2d3e3;
$smoke:								#f6f6f6;
$white:								#fff;
$light:               #e1e1e1;
$footer:              #F3F4F6;


// spec colors

$intel:								#0071c5;
$passwordbox:					#96c142;
$nebula:              #74a7ff;
$beamery:             #50E3C2;


// rgb third party colors

$dribbble:						rgba(234,76,137,0.3);
$instagram:						rgba(63,114,155,0.3);
$twitter:							rgba(75,172,238,0.3);

// Misc

$transition:          .15s;






